@font-face {
  font-family: "iconfont"; /* Project id 3619522 */
  src: url('iconfont.woff2?t=1667979431821') format('woff2'),
       url('iconfont.woff?t=1667979431821') format('woff'),
       url('iconfont.ttf?t=1667979431821') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shenhe:before {
  content: "\e603";
}

.icon-zanting_o:before {
  content: "\eb6c";
}

.icon-bofang:before {
  content: "\e625";
}

.icon-kefu:before {
  content: "\e658";
}

.icon-31shoucang:before {
  content: "\e600";
}

.icon-shoucang1:before {
  content: "\e8c2";
}

.icon-zan:before {
  content: "\e870";
}

.icon-zanxiao:before {
  content: "\e885";
}

.icon-biaotou-kepaixu:before {
  content: "\e8f7";
}

.icon-mulu:before {
  content: "\e6a4";
}

.icon-Success-Small:before {
  content: "\e602";
}

.icon-huiyuanjibie:before {
  content: "\e63c";
}

.icon-huatong:before {
  content: "\e69c";
}

.icon-paiming:before {
  content: "\e766";
}

.icon-biaoshilei_zhaopian:before {
  content: "\e621";
}

.icon-laoshiguanli:before {
  content: "\e69d";
}

.icon-gongyingshang:before {
  content: "\e609";
}

.icon-wj-jh:before {
  content: "\e70e";
}

.icon-quanxian:before {
  content: "\e680";
}

.icon--jiesuan:before {
  content: "\e605";
}

.icon-xueshengguanli-_teacher:before {
  content: "\e699";
}

.icon-shoujiduanxin:before {
  content: "\e639";
}

.icon-pingfen:before {
  content: "\e664";
}

.icon-17:before {
  content: "\e61f";
}

.icon-renyuanmingdan:before {
  content: "\e66a";
}

.icon-xiala:before {
  content: "\e6b9";
}

.icon-shangchuanfujian-tianjiafujian-02:before {
  content: "\e83a";
}

.icon-shanchu:before {
  content: "\e8b6";
}

.icon-bianji:before {
  content: "\e643";
}

.icon-xiangqing:before {
  content: "\e66b";
}

.icon-a-1-01:before {
  content: "\e666";
}

.icon-a-3-01:before {
  content: "\e667";
}

.icon-a-2-01:before {
  content: "\e669";
}

.icon-zhankai-zhijiao:before {
  content: "\e6f1";
}

.icon-shouqi-zhijiao:before {
  content: "\e6f2";
}

.icon-icon_tianjia:before {
  content: "\eb89";
}

.icon-daochu:before {
  content: "\e61c";
}

.icon-sousuo:before {
  content: "\e624";
}

.icon-pingjia:before {
  content: "\e65f";
}

.icon-didian:before {
  content: "\e671";
}

.icon-xueshengguanli-01:before {
  content: "\e608";
}

.icon-weibiaoti-_huabanfuben:before {
  content: "\e616";
}

.icon-icon_huangguan:before {
  content: "\e61b";
}

.icon-zhengshu-copy:before {
  content: "\e640";
}

.icon-zhiwen:before {
  content: "\e60a";
}

.icon-shijian:before {
  content: "\e638";
}

.icon-Icon-xuefen:before {
  content: "\e622";
}

.icon-Icon-xuefentongji:before {
  content: "\e623";
}

.icon-xiayiyehouyiye:before {
  content: "\e764";
}

.icon-touxiang:before {
  content: "\e679";
}

.icon-kejianguanli:before {
  content: "\e64b";
}

.icon-yijieshu:before {
  content: "\e6dc";
}

.icon-tixing:before {
  content: "\e606";
}

.icon-zhengshu1:before {
  content: "\e668";
}

.icon-shoucang:before {
  content: "\e6c2";
}

.icon-renzheng:before {
  content: "\e629";
}

.icon-paihangbang:before {
  content: "\e6dd";
}

.icon-dangjian_xuexiguiji:before {
  content: "\e687";
}

.icon-a-bianzu28:before {
  content: "\e604";
}

.icon-icon-kaoshijilu:before {
  content: "\e660";
}

.icon-daiban:before {
  content: "\ea45";
}

.icon-xuexi:before {
  content: "\e763";
}

.icon-baobiao:before {
  content: "\e67c";
}

.icon-peixunjihua:before {
  content: "\e65e";
}

.icon-jiesuanzhifu:before {
  content: "\e63b";
}

.icon-xiangmulixiang:before {
  content: "\e620";
}

.icon-bumenfeiyongyusuantiaoboshenqingliucheng-01:before {
  content: "\e998";
}

